<html>
<body ng-app="agenda">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
#upper {text-transform: uppercase;}
</style>
<div ng-controller="calcularGanancias">

  Cantidad de articulos: <input type = "text" ng-model = "cantidadArtPagos">

  <input type="button" value="Cantidad" ng-click="loop()"/>

  <input type="button" value="Reset" ng-click="inicio()"/>

  <div><br></div>

  <div ng-repeat="i in inputsPagos track by $index">
    Nombre de articulo:<input id="upper" type="text" ng-model="nombreVerduraPago[$index]"/>
    Precio: <input type="text" name="preciopago"
    ng-model="precioPago[$index]"/>
  </div>

  <div><br></div>

  <div>
    Cantidad de articulos en boleta:<input type="text" ng-model="cantArtBoleta">
    <input type="button" value="Cantidad" ng-click="loopdos()">
  </div>

  <div><br></div>

  <div ng-repeat="i in inputsBoleta track by $index">
    Nombre en boleta:
      <select ng-model="nombreVerduraBoleta[$index]">
        <option id="upper" ng-repeat="item in nombreVerduraPago">{{item}}</option>
      </select>
    Precio en boleta: <input type = "text" ng-model="precioBoleta[$index]"/>
    Cantidad:
    <select name="cantArt" ng-model="selected[$index]">
      <option ng-repeat="x in [1,2,3,4,5,6,7,8,9,10]" value="{{x}}">{{x}}</option>
    </select>
  </div>

  <div><br></div>

  <input type="button" ng-click="calcular()" value="Calcular">

  <div><br></div>

  <li ng-repeat="i in inputsBoleta track by $index">
    Con {{nombreVerduraBoleta[$index] | uppercase}} obtuve: {{resultado[$index]}}
  </li>

  <div><br></div>

  <div>
    Total: {{total}}
  </div>

</div>

</body>
</html>
